APP_ENV=production
AWS_REGION=ap-northeast-2
S3_BUCKET=hymn-images-dev
DATABASE_URL=postgresql://appuser:change-me@rds-endpoint:5432/postgres
IMAGE=<account>.dkr.ecr.ap-northeast-2.amazonaws.com/hymn-dev-api:<tag>
