# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Terraform state/cache
.terraform/
*.tfstate
*.tfstate.backup
infra/.terraform*
infra/*.tfstate*

# Env files
.env
.env.dev
